%h3 Got creative endeavors? Artist Log helps you hone your craft. 
%ul 
  %li define a clear goal
  %li journal down your daily ritual
  %li track your progress
%br/
%p Here is an example of what practice can do.
  
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/daC2EPUh22w?rel=0", :width => "560"}
