
%h4 Got creative endeavors? Artist Log helps you hone your craft. 
%ul 
  %li define a clear goal
  %li organize your daily practice sessions
  %li realize how much you sucked yesterday
  %li ... and how good you are today
%p You are what you do. People <em>choose</em> to become artists. 
%p Watch this video and see what practice actually means.
  
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/daC2EPUh22w?rel=0", :width => "560"}
