/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
html{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.navbar{
  height: 100px;
  border: none;
  background: none;
}
.navbar-collapse{
  width: 70%;
  margin-left: 140px !important;
  vertical-align: middle;
  margin-top: 30px;
  border: 2.5px solid #8B0000 !important;
  ul li {
    font-weight: bold;
  }
}
.navbar-brand{
  text-align:center;
  p {
    color: #8B0000;
  }
}
.glyphicon.glyphicon-edit{
  font-size: 50px;
  color: #8B0000;
}

footer{
  vertical-align: text-bottom;
  text-align:center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign_in{
  margin-left: 15%;
}
.submit_btn{
  margin-left: 40% !important;
}
.control-label {
  text-align: left !important;
}
#right-quo{
  float: right;
  margin-right: 40%;
}
#quote{
  margin-left: 30px;
}